* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
}
img{
    max-width: 100%;
    height: auto;
}
.header{
    background: linear-gradient(
            rgba(14, 8, 52, 0.85),
            rgba(14, 8, 52, 0.85)
    ) ,url(../img/header_bg.jpg);
    background-size: cover;
    color: white;
}
.header__wrapper{
    max-width: 60%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 15px;
}
.main-nav{
    display: flex;
    align-items: center;
}
.mobile-menu{
    width: 70%;
    position: relative;
    text-align: center;
    height: 40px;
    display: none;
    z-index: 2;
}
.mobile-menu__label{
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
    z-index: 2;
    text-align: right;
}
.mobile-menu__button{
    display: inline-block;
    width: 40px;
    height: 40px;
    background: linear-gradient(
            rgba(255, 255, 255, 0.2),
            rgba(255, 255, 255, 0.2));
    border-radius: 10px;
    position: relative;
}
.mobile-menu__bar,
.mobile-menu__bar:before,
.mobile-menu__bar:after{
    display: block;
    width: 20px;
    height: 2px;
    background-color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -10px;
    margin-top: -1px;
}
.mobile-menu__bar:before{
    content: '';
    transform: translateY(-5px);
}
.mobile-menu__bar:after{
    content: '';
    transform: translateY(5px);
}
.mobile-menu__list{
    display: block;
    position: absolute;
    width: 100%;
    bottom: 0;
    right: 0;
    transform: translateY(100%);
    background: linear-gradient(
            rgba(14, 8, 52, 0.85),
            rgba(14, 8, 52, 0.85));
    max-height: 0;
    font-size: 0;
    overflow: hidden;
    transition: .5s all;
}
#mobile-menu__checkbox{
    display: none;
}
#mobile-menu__checkbox:checked ~ .mobile-menu__list{
    max-height: 500px;
    font-size: 13px;
}
.mobile-menu__item{
    display: inline-block;
    width: 100%;
    padding: 10px;
}
.site-list{
    display: flex;
    justify-content: space-between;
}
.site-list__item{
    list-style-type: none;
    margin: 10px;
    font-weight: bold;
    font-size: 13px;
}
.about-us{
    max-width: 55%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    padding-top: 60px;
    padding-bottom: 20px;
    text-align: center;
    flex-wrap: wrap;
}
.slider{
    position: relative;
    display: flex;
    width: 400%;
    left: 0;
}
.slider__wrapper{
    width: 100%;
    overflow: hidden;
    position: relative;
    flex-basis: 100%;
}
.slider__toggles{
    margin: 40px auto;
    max-width: 80px;
    display: flex;
    flex-basis: 100%;
    justify-content: space-between;
}
.slider__arrow{
    position: absolute;
    top: 50%;
}
.slider__arrow--left{
    left: 0;
    transform: translateY(-50%) rotate(180deg);
}
.slider__arrow--right{
    right: 0;
    transform: translateY(-50%);
}
.slider__title{
    font-family: 'Playfair Display', serif;
    font-size: 32px;
    margin-bottom: 20px;
}
.slider__item {
    width: 100%;
    min-height: 200px;
    padding: 10px 30px;
}
.slider__toggle{
    display: inline-block;
    width: 15px;
    height: 15px;
    border: 1px solid #c6c4c9;
    border-radius: 50%;
    margin-right: 7px;
    cursor: pointer;
    text-indent: -9999px;
    z-index: 3;
}
.slider__toggle:last-child{
    margin-right: 0;
}
.slider__toggle--active{
    background-color: #00e0d0;
}
.separator{
    width: 50px;
    border-color: #00e0d0;
    margin: 0 auto;
    margin-bottom: 30px;
}
.site-list__link{
    color: white;
    text-decoration: none;
    text-transform: uppercase;
}
.site-list__link:hover{
    text-decoration: underline;
}
.site-list__link--active{
    color: #00e0d0;
}
.slider__description{
    margin-bottom: 30px;
}
.button-link{
    font-family: 'Hammersmith One', sans-serif;
    text-transform: uppercase;
    color: #00e0d0;
    font-size: 16px;
    padding: 13px 15px 11px;
    border: 1px solid #00e0d0;
    text-decoration: none;
    display: inline-block;
}
.button-link:hover{
    text-decoration: underline;
}
.hidden{
    visibility: hidden;
}
.our-story{
    background-color: white;
    color: black;
    max-width: 60%;
    margin: 70px auto;
    display: flex;
    justify-content: space-between;
}
.our-story__image{
    padding: 10px;
}
.our-story__wrapper{
    max-width: 50%;
    margin-left: 7%;
}
.our-story__title{
    font-family: 'Playfair Display', serif;
    text-transform: uppercase;
    margin-bottom: 30px;
}

.our-story__description{
    margin-bottom: 30px;
    color: #413d4b;
}
.video-story{
    background: linear-gradient(
            rgba(14, 8, 52, 0.85),
            rgba(14, 8, 52, 0.85)
    ) ,url(../img/video-story_bg.jpg);
    background-size: cover;
}
.video-story__wrapper{
    max-width: 60%;
    margin: 20px auto;
    display: flex;
    justify-content: center;
}
.video-story__image{
    display: flex;
    padding: 200px 0;
    justify-content: center;
}
.services{
    background-color: white;
    color: black;
    max-width: 60%;
    margin: 70px auto;
}
.services__title{
    font-family: 'Playfair Display', serif;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 20px;
}
.services__description{
    display: block;
    font-family: 'Playfair Display', serif;
    margin-bottom: 20px;
    color: #2f2d35;
    text-align: center;
}
.separator--grey{
    border-color: #c6c4c9;
    color: #c6c4c9;
}
.expertise{
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 60px;
    width: 100%;
    justify-content: space-between;
}
.expertise__item{
    padding: 4%;
    border-right: 1px solid #c6c4c9;
    width: 33.3%;
}
.expertise__image{
    width: 50px;
    height: 50px;
    background: no-repeat;
    background-image: url(../img/expertise__image.png);
    margin: 0 auto;
    background-position:center;
    margin-bottom: 35px;
}
.expertise__title{
    font-size: 14px;
    text-transform: uppercase;
    margin-bottom: 20px;
    text-align: center;
}
.expertise__description{
    color: #c6c4c9;
    text-align: center;
}
.expertise__image--1{
    background-image: url(../img/expertise__image--1.png);
}
.expertise__image--2{
    background-image: url(../img/expertise__image--2.png);
}
.expertise__image--3{
    background-image: url(../img/expertise__image--3.png);
}
.expertise__image--4{
    background-image: url(../img/expertise__image--4.png);
}
.expertise__image--5{
    background-image: url(../img/expertise__image--5.png);
}
.expertise__item:nth-child(-n+3){
    border-bottom: 1px solid #c6c4c9;
}
.expertise__item:nth-child(3n+3){
    border-right: none;
}
.our-team{
    background: linear-gradient(
            rgba(14, 8, 52, 0.85),
            rgba(14, 8, 52, 0.85)
    ) ,url(../img/our-team__bg.jpg);
    background-size: cover;
    color: #c6c4c9;
}
.our-team__wrapper{
    max-width: 60%;
    margin: 0 auto;
    padding: 70px 0;
}
.our-team__title{
    font-family: 'Playfair Display', serif;
    text-transform: uppercase;
    font-size: 22px;
    margin-bottom: 20px;
    text-align: center;
}
.our-team__description{
    display: block;
    text-align: center;
    margin-bottom: 20px;
}
.team-member{
    display: flex;
    padding-bottom: 50px;
    justify-content: space-between;
    flex-wrap: nowrap;
}
.team-member__item{
    margin-bottom: 20px;
}
.team-member__image{
    max-width: 220px;
}
.team-member img{
    display: block;
    max-width: 100%;
    max-height: 229px;
    height: auto;
}
.team-member__title {
    text-transform: uppercase;
    display: block;
    text-align: center;
    margin: 10px;
    color: white;
}
.team-member__description{
    display: block;
    text-align: center;
    font-size: 13px;
    text-transform: uppercase;
    font-weight: lighter;
    margin: 10px;
}
.team-member__wrapper{
    padding: 6px;
    border: 1px solid #c6c4c9;
}
.our-team__inscription{
    display: block;
    text-align: center;
    font-weight: lighter;
    margin-bottom: 30px;
}
.our-team__button-link{
    text-align: center;
}
.our-works{
    background-color: white;
    color: #c6c4c9;
    margin: 70px 0;
}
.our-works__wrapper{
    display: flex;
    justify-content: space-between;
    max-width: 60%;
    margin: auto;
    margin-bottom: 70px;
}
.our-works__title{
    font-family: 'Playfair Display', serif;
    text-transform: uppercase;
    font-size: 22px;
    color: #413d4b;
}
.our-works__link{
    display: block;
    margin: auto 0;
}
.our-works__link a{
    font-weight: lighter;
    color: #c6c4c9;
    text-decoration: none;
}
.our-works__link:hover{
    text-decoration: underline;
}
.our-works__gallery{
    margin-bottom: 70px;

}
.gallery{
    display: flex;
    max-width: 100%;
    flex-wrap: wrap;
}
.gallery__image{
    flex-basis: 16.66%;
}
.gallery__image img{
    display: block;
    margin: auto;
    object-fit: fill;
}
.our-works__button-link{
    text-align: center;
}
.reviews{
    background: linear-gradient(
            rgba(14, 8, 52, 0.85),
            rgba(14, 8, 52, 0.85)
    ) ,url(../img/reviews__bg.jpg);
    background-size: cover;
    color: #c6c4c9;
}
.reviews__wrapper{
    max-width: 60%;
    margin: 0 auto;
    padding: 70px 0;
}
.reviews__quote{
    width: 32px;
    height: 26px;
    background-image: url(../img/reviews__quote.png);
    margin: 0 auto;
    margin-bottom: 40px;
}
.reviews__description{
    text-align: center;
    margin-bottom: 55px;
}
.reviews__title{
    font-size: 14px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 10px;
    color: white;
}
.reviews__caption{
    display: block;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 40px;
    font-weight: lighter;
}
.reviews__slider{
    display: flex;
    justify-content: space-between;
    max-width: 400px;
    margin: 0 auto;
    align-items: center;
}
.reviews__avatar{
    width: 45px;
    height: 45px;
    margin-left: 14px;
    background-image: url(../img/reviews__avatar.jpg);
    border-radius: 22.5px;
    background-size: cover;
}
.reviews__avatar--active{
    width: 70px;
    height: 70px;
    border-radius: 35px;
}
.reviews__avatar--1{
    background-image: url(../img/reviews__avatar--1.jpg);
}
.reviews__avatar--2{
    background-image: url(../img/reviews__avatar--2.jpg);
}
.reviews__avatar--3{
    background-image: url(../img/reviews__avatar--3.jpg);
}
.reviews__avatar--4{
    background-image: url(../img/reviews__avatar--4.jpg);
}
.reviews__arrow{
    display: block;
    width: 16px;
    height: 21px;
    background-image: url(../img/right-arrow.svg);
    background-size: cover;
}
.reviews__arrow--left{
    float: left;
    transform: rotate(180deg);
}
.reviews__arrow--right{
    margin-left: 14px;
}
.feedback{
    background-color: white;
    color: #c6c4c9;
    margin: 70px 0;
}
.feedback__wrapper{
    max-width: 60%;
    margin: 0 auto;
    display: flex;
}
.feedback-form{
    display: flex;
    flex-wrap: wrap;
    flex-basis: 200%;
    margin-bottom: 90px;
}
.feedback-form__title{
    font-family: 'Playfair Display', serif;
    text-transform: uppercase;
    font-size: 22px;
    color: #413d4b;
    margin-bottom: 35px;
}
.feedback-form input[type="text"]{
    padding: 3% ;
    margin-bottom: 25px;
    flex-basis: 100%;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    border: 1px solid #c6c4c9;
}
.feedback-form textarea{
     flex-basis: 100%;
     padding: 3%;
     height: 30%;
     resize: none;
     margin-bottom: 25px;
     font-family: 'Roboto', sans-serif;
     font-size: 14px;
     border: 1px solid #c6c4c9;
 }
.feedback-form__button{
    background-color: white;
    float: bottom;
}
.our-customers{
    margin-left: 100px;
    display: flex;
    flex-wrap: wrap;
}
.our-customers__title{
    font-family: 'Playfair Display', serif;
    text-transform: uppercase;
    font-size: 22px;
    color: #413d4b;
    margin-bottom: 35px;
    flex-basis: 100%;
}
.our-customers__wrapper{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.our-customers__image{
    flex-basis: 40%;
    margin: 7% 0;
}
.our-customers__image:nth-child(even){
    margin-left: 15%;
}
.footer{
    background: linear-gradient(
            rgba(14, 8, 52, 0.85),
            rgba(14, 8, 52, 0.85)
    ) ,url(../img/footer_bg.jpg);
    background-size: cover;
    color: #c6c4c9;
}
.footer__company{
    margin-bottom: 60px;
}
.footer__wrapper{
    max-width: 60%;
    margin: 0 auto;
    padding: 70px 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.footer__company{
    flex-basis: 31%;
}
.footer__logo{
    margin-bottom: 20px;
    max-width: 45%;
}
.footer__description{
    line-height: 1.5;
}
.footer__links{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.our-contacts{
    flex-basis: 31%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 60px;
}
.our-contacts__title{
    display: block;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 15px;
    margin-bottom: 20px;
    flex-basis: 100%;
}
.our-contacts__icon{
    display: block;
    width: 14px;
    height: 19px;
    background-image: url(../img/footer-icon__1.png);
    background-size: cover;
}
.our-contacts__icon--1{
    width: 17px;
    height: 17px;
    background-image: url(../img/footer-icon__2.png);
}
.our-contacts__tel{
    flex-basis: 90%;
    text-align: left;
}
.our-contacts__description{
    flex-basis: 90%;
    line-height: 1.5;
}
.our-social{
    flex-basis: 31%;
    margin-bottom: 60px;
}
.our-social__title{
    display: block;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 15px;
    margin-bottom: 35px;
    flex-basis: 100%;
}
.our-social__input{
    border: 1px solid #c6c4c9;
    padding: 2px;
    background-color: #11ffee00;
    float: left;
    height: 45px;
    width: 65%;
    margin-bottom: 20px;
}
.our-social__input::placeholder{
    color: #c6c4c9;
}
.our-social__button{
    background: url(../img/our-social__submit.png) no-repeat center,
                linear-gradient(
                        rgba(255, 255, 255, 0.4),
                        rgba(255, 255, 255, 0.4)
                );
    border: none;
    height: 45px;
    width: 30%;
    cursor: pointer;
    margin-left: 5px;
    text-indent: -9999em;
    margin-bottom: 20px;
}
.our-social__link{
    margin: 0;
    margin-right: 5px;
}
.footer-list__item{
    font-weight: normal;
    margin-top: 0px;
}

@media screen and (max-width: 1024px) {
    .team-member{
        flex-wrap: wrap;
        padding-bottom: 30px;
    }
    .team-member__item{
        max-width: 164px;
        margin-left: auto;
        margin-right: auto;
    }
    .team-member__con{
        flex-basis: 40%;
    }
}
@media screen and  (max-width: 950px){
    .mobile-menu{
        display: block;
    }
    .main-nav{
        display: none;
    }
}
@media screen and (max-width: 768px){
    .header__wrapper,.our-story,.about-us,.video-story__wrapper,
    .services,.our-team__wrapper,.our-works__wrapper,
    .reviews__wrapper, .feedback__wrapper,.footer__wrapper{
        max-width: 80%;
    }

}
@media screen and (max-width: 600px) {
    .gallery__image{
        flex-basis: 33.33%;
    }
    .feedback__wrapper{
        flex-wrap: wrap;
    }
    .feedback-form{
        flex-basis: 100%;
    }
    .feedback-form__button{
        text-align: right;
    }
    .our-customers{
        flex-basis: 100%;
        margin-left: 0;
    }
    .our-customers__wrapper{
        justify-content: space-around;
    }
    .our-customers__image:nth-child(even){
        margin-left: 0;
    }
    .our-customers__title{
        text-align: center;
    }
}
@media screen and (max-width: 425px){
    .header__wrapper,.our-story,.about-us,.video-story__wrapper,
    .services,.our-team__wrapper,.our-works__wrapper,
    .reviews__wrapper, .feedback__wrapper,.footer__wrapper{
        max-width: 90%;
    }
    .footer__links{
        flex-wrap: wrap;
    }
    .footer__nav{
        flex-basis: 100%;
    }
    .footer__list{
        margin: 0 auto;
    }
    .footer__copyright{
        margin: 0 auto;
    }
    .footer__company{
        flex-basis: 45%;
    }
    .our-contacts{
        flex-basis: 45%;
    }
    .our-social{
        flex-basis: 100%;
        margin-bottom: 60px;
    }
    .our-social__title{
        text-align: center;
    }
    .reviews__avatar{
        width: 30px;
        height: 30px;
        border-radius: 30px;
    }
    .reviews__avatar--active{
        width: 60px;
        height: 60px;
        border-radius: 60px;
    }
    .expertise__item{
        padding: 4%;
        border-right: 1px solid #c6c4c9;
        width: 50%;
    }
    .expertise__item:nth-child(-n+2){
        border-bottom: 1px solid #c6c4c9;
    }
    .expertise__item:nth-child(even){
        border-right: none;
    }
    .expertise__item:nth-child(3){
        border-right: 1px solid #c6c4c9;
    }
    .expertise__item:nth-child(4){
        border-bottom: 1px solid #c6c4c9;
    }
    .mobile-menu{
        display: block;
    }
}
